Repository Wadie-ess/Transcendence-PongGame, changes with the labels that .github/labeler.yml gives for each.
All labels: frontend, backend, server, ci-cd, docker

.github/labeler.yml:

frontend:
  - frontend/**
backend:
  - backend/**
server:
  - nginx/**
ci-cd:
  - .github
docker:
  - docker*

FIX:LAYOUT_BUGS
  backend/code/src/messages/dto/message-format.dto.ts
  backend/code/src/messages/messages.service.ts
  frontend/code/src/Components/Home/assets/Table.tsx
  frontend/code/src/Components/Layout/Assets/Avatar.tsx
  frontend/code/src/Components/Layout/Assets/Out.tsx
  frontend/code/src/Components/Layout/Assets/Profile.tsx
  frontend/code/src/Components/Layout/Assets/Search.tsx
  frontend/code/src/Components/Layout/Assets/SearchResults.tsx
  frontend/code/src/Components/Layout/index.tsx
  frontend/code/src/Components/Profile/assets/Table.tsx
  frontend/code/src/Components/Settings/index.tsx
  frontend/code/src/index.tsx
Labels: frontend, backend

add: achivemets to profile
  backend/code/package-lock.json
  backend/code/package.json
  backend/code/src/game/game.service.ts
  backend/code/src/gateways/gateways.gateway.ts
  backend/code/src/leaderboard/leaderboard.service.ts
  backend/code/src/main.ts
  backend/code/src/messages/dto/message-format.dto.ts
  backend/code/src/messages/messages.service.ts
  backend/code/src/profile/dto/profile.dto.ts
  backend/code/src/profile/profile.controller.ts
  backend/code/src/profile/profile.service.ts
  backend/code/src/rooms/rooms.controller.ts
  backend/code/src/rooms/rooms.service.ts
Labels: backend

fix: joinRoom event in sockets | ADD: append roomType to message response
  backend/code/src/gateways/gateways.gateway.ts
  backend/code/src/messages/dto/message-format.dto.ts
  backend/code/src/messages/messages.service.ts
Labels: backend

SAVE
  backend/code/package.json
  backend/code/src/main.ts
  docker-compose.yaml
  frontend/code/src/Api/base.tsx
  frontend/code/src/Components/Login/index.tsx
  frontend/code/src/Components/Profile/index.tsx
  frontend/code/src/Components/Settings/assets/Inputs.tsx
  frontend/code/src/Stores/stores.ts
  nginx/default.conf
Labels: frontend, backend, server, docker

better profile Layout
  backend/code/package-lock.json
  backend/code/package.json
  frontend/code/src/Components/Chat/Components/Conversation.tsx
  frontend/code/src/Components/Chat/Components/RecentChat.tsx
  frontend/code/src/Components/Chat/Components/RoomChatHelpers.tsx
  frontend/code/src/Components/Chat/Components/UserToUserChat.tsx
  frontend/code/src/Components/Chat/Components/tools/Assets.tsx
  frontend/code/src/Components/Chat/Controllers/RoomChatControllers.tsx
  frontend/code/src/Components/Chat/Services/ChatServices.ts
  frontend/code/src/Components/Chat/Services/FriendsServices.ts
  frontend/code/src/Components/Chat/index.tsx
  frontend/code/src/Components/Layout/Assets/Dash.tsx
  frontend/code/src/Components/Layout/Assets/Game.tsx
  frontend/code/src/Components/Layout/Assets/Message.tsx
  frontend/code/src/Components/Layout/Assets/Profile.tsx
  frontend/code/src/Components/Layout/Assets/Settings.tsx
  frontend/code/src/Components/Layout/index.tsx
  frontend/code/src/Components/Loading/index.tsx
  frontend/code/src/Components/Profile/assets/Table.tsx
  frontend/code/src/Components/Profile/index.tsx
  frontend/code/src/Components/Profile/test.ts
  package-lock.json
Labels: frontend, backend

adding online status
  frontend/code/src/Components/Chat/Components/Conversation.tsx
  frontend/code/src/Components/Chat/Components/RecentChat.tsx
  frontend/code/src/Components/Chat/Components/RoomChatHelpers.tsx
  frontend/code/src/Components/Chat/Components/UserToUserChat.tsx
  frontend/code/src/Components/Chat/Components/tools/Assets.tsx
  frontend/code/src/Components/Chat/Controllers/RoomChatControllers.tsx
  frontend/code/src/Components/Chat/assets/Chat_balck.svg
  frontend/code/src/Components/Chat/assets/Chat_big.svg
  frontend/code/src/Components/Chat/assets/Chat_black.svg
  frontend/code/src/Components/Chat/index.tsx
  frontend/code/src/Components/Profile/index.tsx
Labels: frontend

better profile, online status
  frontend/code/src/Components/Chat/Components/Conversation.tsx
  frontend/code/src/Components/Chat/Components/UserToUserChat.tsx
  frontend/code/src/Components/Chat/index.tsx
Labels: frontend

SAVE
  backend/code/src/messages/messages.service.ts
  frontend/code/src/Components/Chat/Components/Conversation.tsx
  frontend/code/src/Components/Chat/Services/SocketsServices.ts
  frontend/code/src/Components/Layout/index.tsx
  frontend/code/src/Components/Play/index.tsx
Labels: frontend, backend

refactored notifications
  backend/code/prisma/dbml/schema.dbml
  backend/code/prisma/migrations/20231024181019_anme/migration.sql
  backend/code/prisma/migrations/20231107145233_add_tfa_token/migration.sql
  backend/code/prisma/migrations/20231109204432_add_notification_table/migration.sql
  backend/code/prisma/schema.prisma
  backend/code/src/app.controller.ts
  backend/code/src/auth/auth.controller.ts
  backend/code/src/auth/auth.service.ts
  backend/code/src/auth/dto/tfa-validta.dto.ts
  backend/code/src/auth/guards/at.guard.ts
  backend/code/src/auth/stratgies/ft.strategy.ts
  backend/code/src/friends/dto/query-ofsset-dto.ts
  backend/code/src/friends/friends.service.ts
  backend/code/src/gateways/gateways.gateway.ts
  backend/code/src/messages/messages.service.ts
  backend/code/src/profile/profile.controller.ts
  backend/code/src/profile/profile.service.ts
  backend/code/src/rooms/rooms.controller.ts
  backend/code/src/rooms/rooms.service.ts
  backend/code/src/rooms/types/room-dms-type.ts
  backend/code/src/rooms/types/room-types.ts
  backend/code/src/users/dto/update-user.dto.ts
  backend/code/src/users/users.controller.ts
  backend/code/src/users/users.service.ts
Labels: backend

INIT:GAME
  backend/code/package.json
  backend/code/src/game/game.service.ts
  backend/code/src/game/game.ts
  backend/code/src/gateways/gateways.gateway.ts
  frontend/code/src/Components/Chat/Services/SocketsServices.ts
  frontend/code/src/Components/Layout/Assets/Modal.tsx
  frontend/code/src/Components/Layout/index.tsx
  frontend/code/src/Components/Play/index.tsx
Labels: frontend, backend

better state for selecting chat
  frontend/code/src/Components/Chat/Controllers/RoomChatControllers.tsx
Labels: frontend

init notifications
  backend/code/package-lock.json
  backend/code/src/profile/profile.controller.ts
  backend/code/src/profile/profile.service.ts
  frontend/code/src/Components/Layout/Assets/Alert.tsx
  frontend/code/src/Stores/stores.ts
Labels: frontend, backend

finish dm online status
  frontend/code/src/Components/Chat/Components/Conversation.tsx
  frontend/code/src/Components/Chat/Components/RecentChat.tsx
  frontend/code/src/Components/Chat/Components/RoomChatHelpers.tsx
  frontend/code/src/Components/Chat/Controllers/RoomChatControllers.tsx
Labels: frontend

ADD:BALL MOVES ADD:RESPONSIVE GAME ADD:DETECT CHEATERS
  backend/code/package-lock.json
  backend/code/src/game/game.ts
  backend/code/src/gateways/gateways.gateway.ts
  frontend/code/src/Components/Chat/Services/SocketsServices.ts
  frontend/code/src/Components/FirstLogin/UploadAvatar.tsx
  frontend/code/src/Components/Game/States/GameState.ts
  frontend/code/src/Components/Game/index.tsx
  frontend/code/src/Components/Home/assets/Button.tsx
  frontend/code/src/Components/Layout/Assets/Modal.tsx
  frontend/code/src/Components/Layout/index.tsx
  frontend/code/src/Components/Profile/assets/Table.tsx
  frontend/code/src/Components/Profile/index.tsx
  frontend/code/src/Components/Settings/index.tsx
  frontend/code/src/Routes/index.tsx
  frontend/code/src/Stores/stores.ts
Labels: frontend, backend

add notif counter and read status
  backend/code/src/profile/profile.controller.ts
  backend/code/src/profile/profile.service.ts
  frontend/code/src/Components/Layout/Assets/Alert.tsx
  frontend/code/src/Stores/stores.ts
Labels: frontend, backend

CHECKPOINT
  backend/code/src/app.module.ts
  backend/code/src/game/game.service.ts
  backend/code/src/game/game.ts
  backend/code/src/gateways/gateways.gateway.ts
  frontend/code/package-lock.json
  frontend/code/package.json
  frontend/code/src/Components/Game/States/GameState.ts
  frontend/code/src/Components/Game/index.tsx
  frontend/code/src/Components/Layout/Assets/Modal.tsx
  frontend/code/src/Components/Profile/index.tsx
Labels: frontend, backend

fix streaming event twice
  backend/code/src/app.module.ts
  backend/code/src/game/game.service.ts
  backend/code/src/game/game.ts
  backend/code/src/gateways/gateways.gateway.ts
Labels: backend

finish notifications on front and back
  backend/code/src/profile/profile.controller.ts
  backend/code/src/profile/profile.service.ts
  frontend/code/package-lock.json
  frontend/code/package.json
  frontend/code/src/Components/Chat/Services/SocketsServices.ts
  frontend/code/src/Components/Layout/Assets/Alert.tsx
  frontend/code/src/Components/Profile/index.tsx
  frontend/code/src/Stores/stores.ts
Labels: frontend, backend

CHECKPOINT
  backend/code/src/game/game.ts
  frontend/code/src/Components/Game/States/GameState.ts
  frontend/code/src/Components/Game/index.tsx
Labels: frontend, backend

finish online now users
  frontend/code/src/Components/Chat/Components/Conversation.tsx
  frontend/code/src/Components/Chat/Components/RecentChat.tsx
  frontend/code/src/Components/Chat/Components/RoomChatHelpers.tsx
  frontend/code/src/Components/Chat/Components/UserToUserChat.tsx
  frontend/code/src/Components/Chat/Components/tools/Assets.tsx
  frontend/code/src/Components/Chat/Controllers/RoomChatControllers.tsx
  frontend/code/src/Components/Chat/assets/Closewhite.svg
  frontend/code/src/Components/Chat/index.tsx
  frontend/code/src/Components/Layout/Assets/Avatar.tsx
  frontend/code/src/Components/Layout/index.tsx
  frontend/code/src/Components/Profile/index.tsx
  frontend/code/src/Components/Settings/assets/Inputs.tsx
  frontend/code/src/Components/Settings/index.tsx
  frontend/code/src/Stores/stores.ts
Labels: frontend

finish online now users
  backend/code/src/auth/auth.controller.ts
  backend/code/src/gateways/gateways.gateway.ts
  backend/code/src/users/dto/two-factor.dto.ts
Labels: backend

finish notification
  frontend/code/src/Components/Layout/Assets/Alert.tsx
  frontend/code/src/Components/Validate2Fa/index.tsx
Labels: frontend

ADD:controlls ADD:match history updates
  backend/code/src/game/game.ts
  backend/code/src/gateways/gateways.gateway.ts
  frontend/code/src/Api/base.tsx
  frontend/code/src/Components/Game/index.tsx
  frontend/code/src/Components/Layout/Assets/Modal.tsx
  frontend/code/src/Components/Play/assets/VsBot.svg
  frontend/code/src/Components/Play/assets/VsBot.tsx
  frontend/code/src/Components/Play/assets/VsUser.svg
  frontend/code/src/Components/Play/assets/VsUser.tsx
  frontend/code/src/Components/Play/index.tsx
Labels: frontend, backend

FIX:GAME
  backend/code/src/game/game.ts
  backend/code/src/gateways/gateways.gateway.ts
  backend/code/src/profile/profile.service.ts
  frontend/code/src/Components/Game/index.tsx
  frontend/code/src/Components/Layout/Assets/Modal.tsx
  frontend/code/src/Components/Play/index.tsx
  frontend/code/src/Components/Profile/assets/Table.tsx
Labels: frontend, backend

fix notification throw in front ,finish game invitation from profile
  backend/code/src/app.module.ts
  backend/code/src/game/game.ts
  backend/code/src/gateways/gateways.gateway.ts
  backend/code/src/gateways/gateways.module.ts
  frontend/code/src/Components/Chat/Services/FriendsServices.ts
  frontend/code/src/Components/Game/index.tsx
  frontend/code/src/Components/Layout/Assets/Alert.tsx
  frontend/code/src/Components/Layout/Assets/Invitationacceptance.tsx
  frontend/code/src/Components/Layout/Assets/Invitationmodale.tsx
  frontend/code/src/Components/Layout/index.tsx
  frontend/code/src/Components/Profile/index.tsx
  frontend/code/src/Stores/stores.ts
Labels: frontend, backend

fix linting
  backend/code/src/game/game.ts
  backend/code/src/gateways/gateways.gateway.ts
  backend/code/src/profile/profile.service.ts
  frontend/code/src/Components/Layout/Assets/Invitationacceptance.tsx
  frontend/code/src/Components/Layout/Assets/Invitationmodale.tsx
Labels: frontend, backend

ADD: search by username
  backend/code/src/users/users.service.ts
Labels: backend

FIX:FIX
  backend/code/src/game/game.ts
  frontend/code/src/Components/Chat/Components/Conversation.tsx
  frontend/code/src/Components/Chat/Components/RecentChat.tsx
  frontend/code/src/Components/Chat/Components/RoomChatHelpers.tsx
  frontend/code/src/Components/Chat/Controllers/RoomChatControllers.tsx
  frontend/code/src/Components/Chat/Services/ChatServices.ts
  frontend/code/src/Components/Game/index.tsx
  frontend/code/src/Components/Layout/Assets/Alert.tsx
  frontend/code/src/Components/Layout/Assets/Modal.tsx
  frontend/code/src/Components/Layout/index.tsx
  frontend/code/src/Components/Profile/index.tsx
  frontend/code/src/Components/Validate2Fa/index.tsx
  frontend/code/src/index.tsx
Labels: frontend, backend

UPDATE: limit 20 member for room
  backend/code/src/rooms/rooms.service.ts
Labels: backend

add game modes
  backend/code/src/friends/friends.controller.ts
  backend/code/src/friends/friends.service.ts
  backend/code/src/game/game.service.ts
  backend/code/src/game/game.ts
  backend/code/src/gateways/gateways.gateway.ts
  backend/code/src/rooms/rooms.service.ts
  backend/code/src/users/users.service.ts
  frontend/code/src/Components/Chat/Components/Conversation.tsx
  frontend/code/src/Components/Layout/index.tsx
  frontend/code/src/Components/Profile/index.tsx
  frontend/code/src/Components/Validate2Fa/index.tsx
Labels: frontend, backend

working on infinit scroll in chat
  backend/code/src/gateways/gateways.gateway.ts
  frontend/code/src/Components/Chat/Components/Conversation.tsx
  frontend/code/src/Components/Chat/Components/RecentChat.tsx
  frontend/code/src/Components/Chat/Components/RoomChatHelpers.tsx
  frontend/code/src/Components/Chat/Controllers/RoomChatControllers.tsx
  frontend/code/src/Components/Chat/index.tsx
  frontend/code/src/Components/Profile/index.tsx
Labels: frontend, backend

FIX
  backend/code/src/game/game.ts
  backend/code/src/gateways/gateways.gateway.ts
  backend/code/src/main.ts
  docker-compose.yaml
  frontend/code/src/Components/Game/index.tsx
  frontend/code/src/Components/Profile/assets/Table.tsx
  frontend/code/src/Routes/index.tsx
Labels: frontend, backend, docker

add block user even if he is not a friend and status in profile
  backend/code/src/gateways/gateways.gateway.ts
  frontend/code/src/Components/Profile/index.tsx
  frontend/code/src/Components/Settings/index.tsx
Labels: frontend, backend

CHECKPOINT
  backend/code/src/game/game.service.ts
  backend/code/src/game/game.ts
  backend/code/src/gateways/gateways.gateway.ts
  frontend/code/src/Components/Game/index.tsx
  frontend/code/src/Components/Play/index.tsx
Labels: frontend, backend

ADD:ExtraMode
  backend/code/src/game/game.service.ts
  backend/code/src/game/game.ts
  backend/code/src/gateways/gateways.gateway.ts
  backend/code/src/profile/profile.service.ts
  frontend/code/src/Components/Chat/Components/RoomChatHelpers.tsx
Labels: frontend, backend

finish friend list
  backend/code/src/rooms/rooms.service.ts
  frontend/code/src/Components/Chat/Components/Conversation.tsx
  frontend/code/src/Components/Chat/Components/RoomChatHelpers.tsx
  frontend/code/src/Components/Chat/index.tsx
  frontend/code/src/Components/Layout/index.tsx
  frontend/code/src/Components/Profile/index.tsx
Labels: frontend, backend

add queue modal for waiting and quiting queue fix block mesages
  backend/code/src/auth/constants/constants.ts
  backend/code/src/game/game.service.ts
  backend/code/src/gateways/gateways.gateway.ts
  backend/code/src/messages/messages.service.ts
  backend/code/src/rooms/rooms.service.ts
  frontend/code/src/Components/Game/index.tsx
  frontend/code/src/Components/Play/assets/queuemodal.tsx
  frontend/code/src/Components/Play/index.tsx
  frontend/code/src/Components/Profile/index.tsx
Labels: frontend, backend

fix liniting
  backend/code/src/profile/profile.service.ts
Labels: backend

merge blocked messages
  backend/code/src/rooms/rooms.service.ts
  backend/code/src/users/users.controller.ts
  backend/code/src/users/users.service.ts
  frontend/code/src/Components/Chat/Components/Conversation.tsx
  frontend/code/src/Components/Chat/Components/RecentChat.tsx
  frontend/code/src/Components/Chat/Components/RoomChatHelpers.tsx
  frontend/code/src/Components/Chat/index.tsx
  frontend/code/src/Components/Layout/index.tsx
  frontend/code/src/Components/Profile/index.tsx
Labels: frontend, backend

UI fixed and chat infinit scroll
  backend/code/src/messages/dto/create-messgae.dto.ts
  backend/code/src/messages/dto/message-format.dto.ts
  backend/code/src/messages/messages.service.ts
  frontend/code/package-lock.json
  frontend/code/package.json
  frontend/code/src/Components/Chat/Components/Conversation.tsx
  frontend/code/src/Components/Chat/Components/RecentChat.tsx
  frontend/code/src/Components/Chat/Components/RoomChatHelpers.tsx
  frontend/code/src/Components/Chat/Components/tools/Assets.tsx
  frontend/code/src/Components/Chat/Components/tools/utils.ts
  frontend/code/src/Components/Chat/Controllers/RoomChatControllers.tsx
  frontend/code/src/Components/Chat/Services/MessagesServices.ts
  frontend/code/src/Components/Chat/index.tsx
  frontend/code/src/Components/Home/LeaderBoard.tsx
  frontend/code/src/Components/Home/assets/Button.tsx
  frontend/code/src/Components/Home/assets/Daimond.tsx
  frontend/code/src/Components/Home/assets/Table.tsx
  frontend/code/src/Components/Home/assets/Trophy.tsx
  frontend/code/src/Components/Home/index.tsx
  frontend/code/src/Components/Layout/index.tsx
  frontend/code/src/index.css
  frontend/code/tailwind.config.js
Labels: frontend, backend
