Repository Wadie-ess/Transcendence-PongGame, changes with the labels that .github/labeler.yml gives for each.
All labels: frontend, backend, server, ci-cd, docker

save
  frontend/code/src/Components/Game/States/GameState.ts
  frontend/code/src/Components/Game/index.tsx
  frontend/code/src/Components/Layout/index.tsx
Labels: frontend

DONE
  backend/code/src/game/game.ts
  frontend/code/src/Components/Game/index.tsx
  frontend/code/src/Components/Layout/index.tsx
Labels: frontend, backend

Fixed production build
  backend/code/accountPickerCli.ts
  backend/code/package.json
  backend/code/seeder.ts
  backend/code/src/auth/utils/jwt_utils/jwt_utils.ts
  backend/code/src/game/game.ts
  backend/code/src/gateways/gateways.gateway.ts
  backend/code/src/main.ts
  backend/code/src/profile/profile.service.ts
  docker-compose.yaml
  frontend/code/README.md
  frontend/code/package-lock.json
  frontend/code/package.json
  frontend/code/src/Components/Chat/Components/RoomChatHelpers.tsx
  frontend/code/src/Components/Chat/Services/ChatServices.ts
  frontend/code/src/Components/Chat/Services/SocketsServices.ts
  frontend/code/src/Components/FirstLogin/UploadAvatar.tsx
  frontend/code/src/Components/Layout/index.tsx
  frontend/code/src/Components/Play/assets/Watch.tsx
  frontend/code/src/Components/Play/index.tsx
  frontend/code/src/Components/Settings/index.tsx
  frontend/code/src/setupTests.ts
  nginx/default.conf
Labels: frontend, backend, server, docker

Update README.md
  README.md
Labels: none

Update README.md
  README.md
Labels: none

Delete .DS_Store
  .DS_Store
Labels: none

Update README.md
  README.md
Labels: none

Update README.md
  README.md
Labels: none

Update README.md
  README.md
Labels: none

Update README.md
  README.md
Labels: none

Update README.md
  README.md
Labels: none

.github/labeler.yml:

frontend:
  - frontend/**
backend:
  - backend/**
server:
  - nginx/**
ci-cd:
  - .github
docker:
  - docker*
