Repository Wadie-ess/Transcendence-PongGame, changes with the labels that .github/labeler.yml gives for each.
All labels: frontend, backend, server, ci-cd, docker

.github/labeler.yml:

frontend:
  - frontend/**
backend:
  - backend/**
server:
  - nginx/**
ci-cd:
  - .github
docker:
  - docker*

finish Ban & Mute & kick & setAsAdmin
  frontend/code/src/Components/Chat/Components/Conversation.tsx
  frontend/code/src/Components/Chat/Components/RecentChat.tsx
  frontend/code/src/Components/Chat/Components/RoomChatHelpers.tsx
  frontend/code/src/Components/Chat/Controllers/ChatControllers.tsx
  frontend/code/src/Components/Chat/Services/ChatServices.ts
  frontend/code/src/Components/Chat/index.tsx
Labels: frontend

ADD: 2fa, force users to complete their profile, fix room dto
  backend/code/package-lock.json
  backend/code/package.json
  backend/code/prisma/dbml/schema.dbml
  backend/code/prisma/schema.prisma
  backend/code/src/app.module.ts
  backend/code/src/auth/auth.module.ts
  backend/code/src/auth/guards/at.guard.ts
  backend/code/src/auth/guards/authenticated.guard.ts
  backend/code/src/auth/stratgies/at.strategy.ts
  backend/code/src/auth/stratgies/ft.strategy.ts
  backend/code/src/messages/messages.service.ts
  backend/code/src/profile/dto/profile.dto.ts
  backend/code/src/profile/profile.controller.ts
  backend/code/src/profile/profile.service.ts
  backend/code/src/rooms/rooms.service.ts
  backend/code/src/users/dto/two-factor.dto.ts
  backend/code/src/users/dto/update-user.dto.ts
  backend/code/src/users/users.controller.ts
  backend/code/src/users/users.service.ts
Labels: backend

abdsamad was here
  frontend/code/src/Components/Chat/Components/Conversation.tsx
  frontend/code/src/Components/Chat/Components/RecentChat.tsx
  frontend/code/src/Components/Chat/index.tsx
  frontend/code/src/Components/Layout/Assets/Dash.tsx
  frontend/code/src/Components/Layout/Assets/Game.tsx
  frontend/code/src/Components/Layout/Assets/Message.tsx
  frontend/code/src/Components/Layout/Assets/Profile.tsx
  frontend/code/src/Components/Layout/index.tsx
  frontend/code/src/Components/Login/index.tsx
  frontend/code/src/Utils/helpers.ts
Labels: frontend

INIT
  .DS_Store
  backend/code/prisma/migrations/20231024181019_anme/migration.sql
  backend/code/src/profile/profile.controller.ts
  frontend/code/src/Components/Layout/index.tsx
  frontend/code/src/Components/Profile/assets/MessageB.tsx
  frontend/code/src/Components/Profile/index.tsx
Labels: frontend, backend

better navbar
  frontend/code/src/Components/Chat/Components/Conversation.tsx
  frontend/code/src/Components/Chat/Components/RoomChatHelpers.tsx
  frontend/code/src/Components/Chat/Components/tools/Assets.tsx
  frontend/code/src/Components/Chat/Controllers/ChatControllers.tsx
  frontend/code/src/Components/Chat/Services/ChatServices.ts
  frontend/code/src/Components/Chat/index.tsx
  frontend/code/src/Components/Layout/Assets/Out.tsx
  frontend/code/src/Components/Layout/Assets/Settings.tsx
  frontend/code/src/Components/Layout/index.tsx
Labels: frontend

add users to room
  frontend/code/src/Components/Chat/Components/Conversation.tsx
  frontend/code/src/Components/Chat/Components/RecentChat.tsx
  frontend/code/src/Components/Chat/Components/RoomChatHelpers.tsx
  frontend/code/src/Components/Chat/Components/tools/Assets.tsx
  frontend/code/src/Components/Chat/Controllers/LayoutControllers.tsx
  frontend/code/src/Components/Chat/Controllers/ModalControllers.tsx
  frontend/code/src/Components/Chat/Controllers/RoomChatControllers.tsx
  frontend/code/src/Components/Chat/Services/ChatServices.ts
  frontend/code/src/Components/Chat/assets/User_duotone.svg
  frontend/code/src/Components/Chat/assets/User_duotone_2.svg
  frontend/code/src/Components/Chat/assets/User_fill.svg
  frontend/code/src/Components/Chat/assets/null_user.svg
  frontend/code/src/Components/Chat/assets/user.svg
  frontend/code/src/Components/Chat/index.tsx
Labels: frontend

ADD: get history & FIX: ban
  backend/code/prisma/dbml/schema.dbml
  backend/code/prisma/schema.prisma
  backend/code/src/game/game.controller.ts
  backend/code/src/game/game.service.ts
  backend/code/src/rooms/rooms.service.ts
  backend/code/src/users/users.service.ts
Labels: backend

ADD: unban
  backend/code/src/app.module.ts
  backend/code/src/rooms/rooms.controller.ts
  backend/code/src/rooms/rooms.service.ts
Labels: backend

better state
  .DS_Store
  .gitignore
  frontend/.DS_Store
  frontend/code/src/Components/Chat/Components/RoomChatHelpers.tsx
Labels: frontend

ADD: get notifications
  backend/code/src/profile/profile.controller.ts
  backend/code/src/profile/profile.service.ts
Labels: backend

async
  frontend/code/src/Components/Chat/Components/RoomChatHelpers.tsx
  frontend/code/src/Components/Chat/Controllers/RoomChatControllers.tsx
  frontend/code/src/Components/Chat/Services/MessagesServices.ts
  frontend/code/src/Components/Chat/assets/nullConv.json
  frontend/code/src/Components/Chat/index.tsx
  package-lock.json
  package.json
Labels: frontend

working on a better state
  .DS_Store
  frontend/.DS_Store
  frontend/code/src/Components/Chat/Components/RoomChatHelpers.tsx
  frontend/code/src/Components/Chat/index.tsx
Labels: frontend

working on send & get Messages
  frontend/code/src/Components/Chat/Components/Conversation.tsx
  frontend/code/src/Components/Chat/Components/RoomChatHelpers.tsx
  frontend/code/src/Components/Chat/Components/tools/Assets.tsx
  frontend/code/src/Components/Chat/Services/MessagesServices.ts
Labels: frontend

INIT
  .DS_Store
  backend/code/prisma/migrations/20231024181019_anme/migration.sql
  backend/code/src/profile/profile.controller.ts
  frontend/code/src/Components/Layout/index.tsx
  frontend/code/src/Components/Profile/assets/MessageB.tsx
  frontend/code/src/Components/Profile/index.tsx
Labels: frontend, backend

async
  backend/.DS_Store
  frontend/code/src/Components/Chat/Components/tools/Assets.tsx
  frontend/code/src/Components/Chat/assets/owner.svg
Labels: frontend, backend

async
  backend/code/src/profile/profile.controller.ts
  backend/code/src/rooms/rooms.service.ts
  frontend/code/src/Components/Chat/Components/Conversation.tsx
  frontend/code/src/Components/Chat/Components/RoomChatHelpers.tsx
  frontend/code/src/Components/Chat/Components/tools/Assets.tsx
  frontend/code/src/Components/Chat/Services/MessagesServices.ts
  frontend/code/src/Components/Chat/index.tsx
Labels: frontend, backend

finish room Settings
  frontend/code/src/Components/Chat/Components/Conversation.tsx
  frontend/code/src/Components/Chat/Components/RoomChatHelpers.tsx
  frontend/code/src/Components/Chat/Components/tools/Assets.tsx
  frontend/code/src/Components/Chat/Services/MessagesServices.ts
  frontend/code/src/Components/Chat/index.tsx
  frontend/code/src/Components/Layout/index.tsx
Labels: frontend

ADD:FriendsButtons
  frontend/code/package-lock.json
  frontend/code/package.json
  frontend/code/src/Components/Layout/index.tsx
  frontend/code/src/Components/Profile/assets/MessageB.tsx
  frontend/code/src/Components/Profile/index.tsx
Labels: frontend

unban
  backend/code/src/rooms/rooms.service.ts
Labels: backend

wsync
  frontend/code/src/Components/Chat/Components/Conversation.tsx
  frontend/code/src/Components/Chat/Components/RoomChatHelpers.tsx
  frontend/code/src/Components/Chat/Components/tools/Assets.tsx
  frontend/code/src/Components/Chat/Services/MessagesServices.ts
  frontend/code/src/Components/Chat/assets/explore_icon.svg
Labels: frontend

add: append avatar to friends list
  backend/code/src/friends/friends.service.ts
  backend/code/src/gateways/gateways.gateway.ts
  backend/code/src/messages/messages.controller.ts
Labels: backend

add: last message content and time in list rooms, author avatar in get messages
  backend/code/prisma/dbml/schema.dbml
  backend/code/prisma/schema.prisma
  backend/code/src/app.module.ts
  backend/code/src/messages/dto/message-format.dto.ts
  backend/code/src/messages/messages.service.ts
  backend/code/src/rooms/dto/create-room.dto.ts
  backend/code/src/rooms/rooms.service.ts
Labels: backend

async
  .DS_Store
  frontend/.DS_Store
  frontend/code/src/Components/Chat/Components/RoomChatHelpers.tsx
Labels: frontend

init game
  backend/code/src/app.controller.ts
  backend/code/src/game/game.service.ts
  backend/code/src/game/game.ts
  backend/code/src/gateways/gateways.gateway.ts
Labels: backend

finish rooms state & working on unban
  backend/code/src/friends/friends.service.ts
  backend/code/src/rooms/rooms.service.ts
  frontend/code/src/Components/Chat/Components/Conversation.tsx
  frontend/code/src/Components/Chat/Components/RoomChatHelpers.tsx
  frontend/code/src/Components/Chat/Components/tools/Assets.tsx
  frontend/code/src/Components/Chat/Components/tools/utils.ts
  frontend/code/src/Components/Chat/Controllers/LayoutControllers.tsx
  frontend/code/src/Components/Chat/Services/ChatServices.ts
  frontend/code/src/Components/Chat/Services/FriendsServices.ts
  frontend/code/src/Components/Chat/index.tsx
  frontend/code/src/Components/Profile/index.tsx
Labels: frontend, backend

async
  backend/code/src/gateways/gateways.gateway.ts
  frontend/code/package.json
  frontend/code/src/Components/Chat/Services/SocketsServices.ts
  frontend/code/src/Components/Chat/index.tsx
  package-lock.json
  package.json
Labels: frontend, backend

async
  frontend/code/src/Components/Chat/Components/Conversation.tsx
  frontend/code/src/Components/Chat/index.tsx
Labels: frontend

working on sockets
  .DS_Store
  backend/.DS_Store
  frontend/.DS_Store
  frontend/code/src/Components/Chat/Components/Conversation.tsx
  frontend/code/src/Components/Chat/Controllers/RoomChatControllers.tsx
Labels: frontend, backend

SAVE
  frontend/Dockerfile.dev
  frontend/code/package-lock.json
  frontend/code/package.json
  frontend/code/src/Components/Home/LeaderBoard.tsx
  frontend/code/src/Components/Home/assets/Table.tsx
  frontend/code/src/Components/Layout/Assets/Profile.tsx
  frontend/code/src/Components/Profile/index.tsx
Labels: frontend

finish rooms realtime chat
  .DS_Store
  frontend/.DS_Store
  frontend/code/src/Components/Chat/Components/Conversation.tsx
  frontend/code/src/Components/Chat/Components/RoomChatHelpers.tsx
  frontend/code/src/Components/Chat/Components/tools/Assets.tsx
  frontend/code/src/Components/Chat/Controllers/RoomChatControllers.tsx
  frontend/code/src/Components/Chat/assets/options.svg
Labels: frontend

add: initiating game logic, db seeder fix: change friend lists dtos, add removing users related data after removing profile
  backend/code/accountPickerCli.ts
  backend/code/package-lock.json
  backend/code/package.json
  backend/code/prisma/dbml/schema.dbml
  backend/code/prisma/schema.prisma
  backend/code/seeder.ts
  backend/code/src/app.controller.ts
  backend/code/src/friends/dto/friend-profile.dto.ts
  backend/code/src/friends/friends.controller.ts
  backend/code/src/friends/friends.service.ts
  backend/code/src/game/game.controller.ts
  backend/code/src/game/game.service.ts
  backend/code/src/game/game.ts
  backend/code/src/gateways/gateways.gateway.ts
  backend/code/src/main.ts
  backend/code/src/messages/messages.controller.ts
  backend/code/src/users/users.controller.ts
Labels: backend

working on DM
  frontend/code/src/Components/Chat/Components/Conversation.tsx
  frontend/code/src/Components/Chat/Components/RoomChatHelpers.tsx
  frontend/code/src/Components/Chat/Components/UserToUserChat.tsx
  frontend/code/src/Components/Chat/Components/tools/Assets.tsx
  frontend/code/src/Components/Chat/Controllers/RoomChatControllers.tsx
  frontend/code/src/Components/Chat/Services/ChatServices.ts
  frontend/code/src/Components/Chat/index.tsx
  frontend/code/src/Components/Layout/index.tsx
  frontend/code/src/Components/Profile/index.tsx
  frontend/code/src/Routes/index.tsx
Labels: frontend

init: prevent banned users from getiing latest message from room and recieving new ones while using same session
  backend/code/.gitignore
  backend/code/accountPickerCli.ts
  backend/code/package-lock.json
  backend/code/package.json
  backend/code/seeder.ts
  backend/code/src/app.controller.ts
  backend/code/src/gateways/gateways.gateway.ts
  backend/code/src/rooms/rooms.service.ts
Labels: backend

sync
  backend/code/seeder.ts
  backend/code/src/app.controller.ts
  backend/code/src/game/game.service.ts
  backend/code/src/gateways/gateways.gateway.ts
  backend/code/src/messages/messages.service.ts
  backend/code/src/rooms/rooms.controller.ts
  backend/code/src/rooms/rooms.service.ts
Labels: backend

Finish Rooms Socket
  frontend/code/src/Components/Chat/Components/Conversation.tsx
  frontend/code/src/Components/Chat/Components/RoomChatHelpers.tsx
  frontend/code/src/Components/Chat/Components/UserToUserChat.tsx
  frontend/code/src/Components/Chat/Services/SocketsServices.ts
  frontend/code/src/Components/Chat/index.tsx
  frontend/code/src/Components/Layout/index.tsx
  frontend/code/src/Components/Profile/index.tsx
Labels: frontend

Finish Rooms Socket
  frontend/code/package-lock.json
Labels: frontend

ADD:infinite scroll ADD:history ADD:leaderboard
  backend/code/src/game/game.controller.ts
  backend/code/src/game/game.service.ts
  backend/code/src/leaderboard/leaderboard.service.ts
  frontend/code/src/Components/Home/LeaderBoard.tsx
  frontend/code/src/Components/Home/assets/Table.tsx
  frontend/code/src/Components/Home/index.tsx
  frontend/code/src/Components/Layout/index.tsx
  frontend/code/src/Components/Profile/History.tsx
  frontend/code/src/Components/Profile/assets/MessageB.tsx
  frontend/code/src/Components/Profile/assets/Table.tsx
  frontend/code/src/Components/Profile/index.tsx
  frontend/code/src/index.css
Labels: frontend, backend

add: online presence, handle ban unban and join room in sockets
  backend/code/prisma/dbml/schema.dbml
  backend/code/prisma/migrations/20231105142742_add_onlien_status_to_user/migration.sql
  backend/code/prisma/schema.prisma
  backend/code/src/gateways/gateways.gateway.ts
  backend/code/src/rooms/rooms.service.ts
Labels: backend

Revert "add: online presence, handle ban unban and join room in sockets"
  backend/code/prisma/dbml/schema.dbml
  backend/code/prisma/migrations/20231105142742_add_onlien_status_to_user/migration.sql
  backend/code/prisma/schema.prisma
  backend/code/src/gateways/gateways.gateway.ts
  backend/code/src/rooms/rooms.service.ts
Labels: backend

add: online presence, handle ban unban and join room in sockets
  backend/code/prisma/dbml/schema.dbml
  backend/code/prisma/migrations/20231105142742_add_onlien_status_to_user/migration.sql
  backend/code/prisma/schema.prisma
  backend/code/src/gateways/gateways.gateway.ts
  backend/code/src/rooms/rooms.service.ts
Labels: backend
